
<div class="row">
    <div class="col">
        <b>Login</b>
    </div>
</div>

<br>

<div class="row">
    <div class="col col-lg-2">
        Correo:
    </div>
    <div class="col col-lg-4">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite su correo">
    </div>

</div>

<br>

<div class="row">
    <div class="col col-lg-2">Contraseña:</div>
    <div class="col col-lg-4">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite su contrasena">
    </div>
</div>

<br>

<div class="row"> 
    <div class="col">
        <button type="button" class="btn btn-success">Login</button>
    </div>
</div>
