
<button (click)="crearEstudiante()" type="button" class="btn btn-success btn-sm">Crear Estudiante</button>
<br>
<table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let columnaActual of nombreColumnas"> {{columnaActual}} </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let estudiante of listadoEstudiantes">
        <tr>
          <td>{{estudiante.cedula}}</td>
          <td>{{estudiante.nombre}}</td>
          <td>{{estudiante.apellido}}</td>
          <td>
            <button (click)="actualizarEstudiante(estudiante._id)" type="button" class="btn btn-primary">
                <i class="fas fa-pencil-alt"></i>
            </button>
            <button (click)="eliminar(estudiante._id)" type="button" class="btn btn-danger">
                <i class="fas fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>